{% if params.issuesheet %}
{% set issuesheet = params.issuesheet %}
{% set review = params.review %}
<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Issue sheet
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <table>
      <tr>
      <th>Document location</th>
      <td><a href="{{ params.url }}">{{ params.url }}</a></td>
      </tr>
    {% if issuesheet.reference %}
      <tr>
      <th>Document reference</th>
      <td>{{ issuesheet.reference }}</td>
      </tr>
    {% endif %}
    {% if params.title %}
      <tr>
      <th>Title</th>
      <td>{{ params.title }}</td>
      </tr>
    {% endif %}
    {% if issuesheet.author %}
      <tr>
      <th>Author</th>
      <td>{{ issuesheet.author }}</td>
      </tr>
    {% endif %}
    {% if issuesheet.owner %}
      <tr>
      <th>Owner</th>
      <td>{{ issuesheet.owner }}</td>
      </tr>
    {% endif %}
    {% if issuesheet.issued_to %}
      <tr>
      <th>Issued to</th>
      <td>{{ issuesheet.issued_to }}</td>
      </tr>
    {% endif %}
    {% if issuesheet.reason_issued %}
      <tr>
      <th>Reason issued</th>
      <td>{{ issuesheet.reason_issued }}</td>
      </tr>
    {% endif %}
    {% if issuesheet.approved_by %}
      <tr>
      <th>Approved by</th>
      <td>{{ issuesheet.approved_by }}</td>
      </tr>
    {% endif %}
    {% if issuesheet.approval_date %}
      <tr>
      <th>Approved</th>
      <td>
        <time datetime="{{ issuesheet.approval_date | date }}">{{ issuesheet.approval_date | date("d LLLL y") }}</time>
      </td>
      </tr>
    {% endif %}
    {% if issuesheet.wellbeing_inclusion_approval_date %}
      <tr>
      <th>Date of wellbeing and inclusion analysis</th>
      <td>
        <time datetime="{{ issuesheet.wellbeing_inclusion_approval_date | date }}">{{ issuesheet.wellbeing_inclusion_approval_date | date("d LLLL y") }}</time>
      </td>
      </tr>
    {% endif %}
    {% if issuesheet.accessibility_approval_date %}
      <tr>
      <th>Date of accessibility review</th>
      <td>
        <time datetime="{{ issuesheet.accessibility_approval_date | date }}">{{ issuesheet.accessibility_approval_date | date("d LLLL y") }}</time>
      </td>
      </tr>
    {% endif %}
    {% if issuesheet.fraud_approval_date %}
      <tr>
      <th>Date of fraud review</th>
      <td>
        <time datetime="{{ issuesheet.fraud_approval_date | date }}">{{ issuesheet.fraud_approval_date | date("d LLLL y") }}</time>
      </td>
      </tr>
    {% endif %}
    {% if review.last_reviewed_date %}
      <tr>
      <th>Last reviewed</th>
      <td>
        <time datetime="{{ review.last_reviewed_date | date }}">{{ review.last_reviewed_date | date("d LLLL y") }}</time>
      </td>
      </tr>
    {% endif %}
    {% if review.next_review_date %}
      <tr>
      <th>Next review due</th>
      <td>
        <time datetime="{{ review.next_review_date | date }}">{{ review.next_review_date | date("d LLLL y") }}</time>
      </td>
      </tr>
    {% endif %}
    </table>
    {% if issuesheet.revisions %}
      <h3 id="revision-history" tabindex="-1"><a class="header-anchor" href="#revision-history">Revision history</a></h3>
      <table>
        <tr>
          <th>Version</th>
          <th>Date</th>
          <th>Amended by</th>
          <th>Approved by</th>
          <th>Details</th>
        </tr>
        {% for revision in issuesheet.revisions %}
        <tr>
        <td>{{ revision.version | blank }}</td>
        <td>
          {% if revision.review_date %}
          <time datetime="{{ revision.review_date | date }}">{{ revision.date | date("d LLLL y") }}</time>
          {% else %}
          -
          {% endif %}
        </td>
        <td>{{ revision.amended_by | blank }}</td>
        <td>{{ revision.approved_by | blank }}</td>
        <td>{{ revision.details | blank }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
</details>
{% endif %}
