.watermark {
  background-image: url(../images/draft.svg);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.1;
}
.todo {
  border-left-color: red;
  color: red;
}
.todo .admonition-title {
  text-transform: uppercase;
}
