{% from 'input/macro.njk' import input %}
{% from 'textarea/macro.njk' import textarea %}
{% from "button/macro.njk" import button %}
{% from 'action-link/macro.njk' import actionLink %}

{% set category = "category=" + params.catagory %}
{% set template = "&template=" + params.template | urlEncode %}
{% set title = "&title=" + params.title | urlEncode %}
{% set href="https://github.com/nhsbsa/nhsbsa-digital-playbook/discussions/new?" + category + template + title %}

{{ actionLink({
  "text": params.linkText,
  "href": href
}) }}
