{% from 'input/macro.njk' import input %}
{% from 'textarea/macro.njk' import textarea %}
{% from "button/macro.njk" import button %}
{% from 'action-link/macro.njk' import actionLink %}

{% set href="https://github.com/nhsbsa/nhsbsa-digital-playbook/discussions/new?&template=" +
    (params.discussionTemplate | urlEncode) +
    "&title=" + (params.discussionTitle | urlEncode) %}
{{ actionLink({
  "text": params.linkText,
  "href": href
}) }}
