<div class="nhsuk-grid-row">
  {% if params.header %}
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">{{ params.header.title }}</h1>
  </div>
  {% endif %}

  <div class="nhsuk-grid-column-full">
    {{- caller() if caller -}}
    
    {% if params.footer %}
      <div class="nhsbsa-article--date">
        {% if params.footer.date %}
          <p>
            Published <time datetime="{{ params.footer.date | date }}">{{ params.footer.date | date("d LLLL y") }}</time>
          </p>
        {% endif %}
        {% if params.footer.modified %}
          <p>
            Last updated <time datetime="{{ params.footer.modified | date }}">{{ params.footer.modified | date("d LLLL y") }}</time>
          </p>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
