<div class="nhsuk-grid-row">
  {% if params.header %}
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">{{ params.header.title }}</h1>
  </div>
  {% endif %}

  <div class="nhsuk-grid-column-full">
    {{- caller() if caller -}}
  </div>

  {% if params.footer %}
  <div class="nhsuk-grid-column-full">
    {% if params.footer.date %}
      Published <time datetime="{{ params.footer.date | date }}">{{ params.footer.date | date("d LLLL y") }}</time><br>
    {% endif %}
    {% if params.footer.modified %}
      Last updated <time datetime="{{ params.footer.modified | date }}">{{ params.footer.modified | date("d LLLL y") }}</time>
    {% endif %}
  </footer>
  {% endif %}
</div>
