{% extends "_accessibility.njk" %}
{% set productLongName = 'NHSBSA Digital, Data and Technology Playbook' %}
{% set productShortName = 'DDaT Playbook' %}
{% set fullwidth = true %}
{% set phase = 'Beta' %}
