{% extends "_collection.njk" %}
{% set productLongName = 'NHSBSA Digital, Data and Technology Playbook' %}
{% set productShortName = 'DDaT Playbook' %}
{% set heroHeading = 'NHSBSA Digital, Data and Technology Playbook' %}
{% set heroText = 'How we design, build and run services at the NHSBSA' %}
{% set fullwidth = false %}
{% set phase = 'Beta' %}