<div class="app-site-search" data-module="app-search" data-search-index="/search.json">
  <label class="nhsuk-visually-hidden" for="app-site-search__input">{{ params.label }}</label>
  <a class="app-site-search__link nhsuk-link-no-visited" href="/sitemap">Sitemap</a>
</div>
