
{% set size %}
{{ params.blockSize if params.blockSize else 'm' }}
{% endset %}
<span style="background-color: {{params.color}}" class="colorblock colorblock_{{params.blockSize if params.blockSize else 'm'}}"></span>