{% if hero %}
  {% extends "_sections.njk" %}
{% else %}
  {% extends "_main.njk" %}
{% endif %}

{% from "appArticleFooter/macro.njk" import appArticleFooter %}
{% from "appBadges/macro.njk" import appBadges %}
{% from "appCard/macro.njk" import appCard with context %}
{% from "appGithubIssue/macro.njk" import appGithubIssue %}
{% from "appIssueSheet/macro.njk" import appIssueSheet %}
{% from "prose/macro.njk" import appProse %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-width-container app-width-container">
    <div class="app-pane">
      {% if content | toc %}
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
        <h2 class="app-side-nav__heading">Contents</h2>
        {{ content | toc | safe }}
        </nav>
      </div>
      {% endif %}

      <div class="app-pane__main-content">
        {{ backLink({
          "href": "javascript:history.back()",
          "text": "Go back",
          "classes": "no-js"
        }) }}
      
        <div class="nhsbsa-article-header">
          <h1 class="nhsuk-heading-xl">
            {{ title }}
          </h1>
          {{ appBadges({
              badges: badges
          }) }}
        </div>
      
        {% call appIssueSheet({
          title: title,
          url: page.url,
          issuesheet: issuesheet,
          review: review,
          revisions: revisions
        }) %}
        {% endcall %}

        {% call appProse({
          prose: content
        }) -%}
        {% if related %}
        {% if related.title %}
        <h2 class="nhsuk-heading-l">
          {{ related.title }}
        </h2>
        {% endif %}
        {{ appCard({
          page: page,
          page_status: status,
          items: collections[related.tag],
          order: related.tag
        }) }}
        {% endif %}

        {%- endcall %}

        <hr>
        <h2 class="nhsuk-heading-l header-anchor" id="improve-the-playbook">Improve the playbook</h2>
        <p>If you spot anything factually incorrect with this page or have ideas for improvement,
          please share your suggestions.</p>

        <p>Before you start, you will need a <a href="https://github.com/join?source=login">GitHub account</a>.
        Github is an open forum where we collect feedback.</p>
        {{ appGithubIssue({
          issueTemplate: "playbook-proposal.md",
          issueTitle: "Change to page '" + page.filePathStem + "' ",
          linkText: "Suggest a change to this page"
          }) }}

        {{ appArticleFooter({
            date: page.date,
            modified: modified,
            review: review
        }) }}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
