{% extends "_base.njk" %}

{% from "appArticle/macro.njk" import appArticle %}
{% from "related/macro.njk" import appRelated %}
{% from "prose/macro.njk" import appProse %}

{% block content %}
  {% call appArticle({
    header: {
      title: title | widont
    },
    footer: {
      date: page.date,
      modified: modified if modified
    }
  }) %}
    <div class="nhsbsa-sticky-nav">
      <h2 class="nhsbsa-sticky-nav__heading">Contents</h2>
      {{ content | toc | safe }}
    </div>

    <div class="nhsbsa-article-content">
      {{ appProse({
        prose: content
      }) }}
    </div>

    {% if related %}
    <div class="nhsuk-grid-column-one-third">
      {{ appRelated({
        title: related.title or "Related links",
        items: related.items
      }) }}
    </div>
    {% endif %}
  {% endcall %}
{% endblock %}
