{% extends "_base.njk" %}
{% set mainClasses = mainClasses | default("app-main-wrapper") %}
{% block main %}
<div class="nhsuk-width-container {{ containerClasses }}">
    <main class="nhsuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {% block content %}{% endblock %}
    </main>
</div>
{% endblock %}
