{% if hero %}
  {% extends "_sections.njk" %}
{% else %}
  {% extends "_main.njk" %}
{% endif %}
{% from "prose/macro.njk" import appProse %}

{% block main %}
  <div class="nhsuk-width-container">
    {% block beforeContent %}{% endblock %}
    <main class="nhsuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-three-quarters">
              {{ backLink({
                "href": "javascript:history.back()",
                "text": "Go back"
              }) }} 
              {% block content %}
              {{ appProse({
                  prose: content
              }) }}
              {% endblock %}            
            </div>
        </div>
    </main>
  </div>
{% endblock %}