{% from "colorBlock/macro.njk" import colorBlock %}
<div class="card colorCard">
	{% if params.heading %}
	<h2 class="nhsuk-card__heading nhsuk-heading-m">
	{{ params.heading }}
	</h2>
	{% endif %}
	<div>{{ colorBlock(params) }}</div>
	<dl>
		<dt>Hex</dt>
		<dd>{{params.color}}</dd>
		<dt>RGB</dt>
		<dd>{{params.color | convertColor('RGB') }}</dd>
		<dt>CMYK</dt>
		<dd>{{params.color | convertColor('CMYK') }}</dd>
		{% if params.pantone %}
		<dt>Pantone</dt>
		<dd>{{params.pantone}}</dd>
		{% endif %}
		{% if params.ral %}
		<dt>RAL</dt>
		<dd>{{params.ral}}</dd>
		{% endif %}
	</dl>
</div>
