<table class="alternate-even">
<tr><th>Version</th><th>Current phase</th><th>Release date</th><th>Adopt from</th><th>Decommission date</th></tr>
{% for item in schedule[technology] %}
<tr><td>{{ item['version'] }}</td>
<td class="t_{{ item['phase'] }}"><strong>{{ item['phase'] | upper }}</strong></td>
<td>{{ item['release'] | date("d LLL y") }}</td>
<td>{{ item['adopt'] | date("d LLL y") }}</td>
<td>{{ item['decommission'] | date("d LLL y") }}</td></tr>
{% endfor %}
</table>
