{% if params.items.length > 0 %}
	<ul class="nhsuk-grid-row nhsuk-card-group{%- if params.classes %} {{ params.classes }}{% endif %}">
		{% for item in params.items | sortByOrder(params.order) %}
		<li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
			<div class="nhsuk-card nhsuk-card--clickable">
				<div class="nhsuk-card__content">
					<h2 class="nhsuk-card__heading nhsuk-heading-m">
						<a class="nhsuk-card__link" href="{{ item.url | url | pretty }}">
							{{ item.data.title }}
						</a>
					</h2>
					{% if item.data.description %}
					<p class="nhsuk-card__description">{{ item.data.description | markdown("inline") | safe }}</p>
					{% endif %}
					{% if item.date %}
					<time class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0" datetime="{{ item.date | date }}">{{ item.date | date("d LLLL y") }}</time>	
					{% endif %}
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
{% else %}
	<p class="nhsuk-body">No articles found.</p>
{% endif %}