{% from "appBadges/macro.njk" import appBadges %}
{% if params.items.length > 0 %}
	<ul class="nhsuk-grid-row nhsuk-card-group{%- if params.classes %} {{ params.classes }}{% endif %}">
		{% for item in params.items | sortByOrder(params.order) %}
		{% if (not item.data.status or params.page_status == 'DRAFT' or item.data.status != 'DRAFT') and params.page.url != item.url %}
		<li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
			<div class="nhsuk-card nhsuk-card--clickable">
				<div class="nhsuk-card__content">
					<div class="nhsuk-card__header">
						<h2 class="nhsuk-card__heading nhsuk-heading-m">
							<a class="nhsuk-card__link" href="{{ item.url | url | pretty }}">{{ item.data.title }}</a>
						</h2>
						{{ appBadges({
								badges: item.data.badges
							}) 
						}}
					</div>
					{% if item.data.description %}
					<p class="nhsuk-card__description">{{ item.data.description | markdown("inline") | safe }}</p>
					{% endif %}
					{% if item.date %}
					<time class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0" datetime="{{ item.date | date }}">{{ item.date | date("d LLLL y") }}</time>	
					{% endif %}
				</div>
			</div>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
{% else %}
	<p class="nhsuk-body">No articles found.</p>
{% endif %}